body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#667eea,#764ba2);
    margin:0;
    padding:0;
}

.container{
    width:70%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#333;
}

input{
    width:70%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    padding:12px 20px;
    background:#667eea;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#4f5bd5;
}

#output{
    margin-top:25px;
    padding:20px;
    background:#f8f9ff;
    border-radius:10px;
}

.card{
    background:white;
    padding:15px;
    margin-top:15px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
select{
    width:70%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
}
.progress-container{
    width:100%;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-top:10px;
}

.progress-bar{
    height:20px;
    background:#4CAF50;
    text-align:center;
    color:white;
    line-height:20px;
    font-size:12px;
    border-radius:20px;
}

.skill-gap{
    margin-top:10px;
    padding:10px;
    background:#fff3cd;
    border-radius:8px;
}
footer{
text-align:center;
margin-top:30px;
color:#666;
}